:root {
  --regent-primary-color: #55b9e6;
  --regent-primary-color-accent: #48aedd;
  --regent-primary-color-highlight: #39a4d6;
  --regent-primary-color-highlight-accent: #40a7d6;

  --regent-secondary-color: #f0ad4e;
  --regent-secondary-color-accent: #eea236;
  --regent-secondary-color-highlight: #ec971f;
  --regent-secondary-color-highlight-accent: #d58512;

  --regent-background-color: #282934;
  --regent-text-color: #333;
  --regent-text-color-inverted: #fff;
}
