$primary-color: #55b9e6;
$primary-color-accent: #48aedd;
$primary-color-highlight: #39a4d6;
$primary-color-highlight-accent: #40a7d6;

$secondary-color: #f0ad4e;
$secondary-color-accent: #eea236;
$secondary-color-highlight: #ec971f;
$secondary-color-highlight-accent: #d58512;

$background-color: #282934;
$text-color: #333;
$text-color-inverted: #fff;

$font: 'Open Sans', sans-serif;
